<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.oversea.payment.mapper.PayOrderDownstreamNotifyMapper">
    <resultMap id="PayOrderDownstreamMerchantDO" type="com.video.entity.PayOrderDownstreamNotifyDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="pay_order_id" jdbcType="BIGINT" property="payOrderId" />
        <result column="notify_url" jdbcType="VARCHAR" property="notifyUrl" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    </resultMap>

    <select id="selectByPayOrderId" resultType="com.video.entity.PayOrderDownstreamNotifyDO">
        select *
        from pay_order_downstream_notify
        where pay_order_id = #{payOrderId}
    </select>

</mapper>