<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.oversea_payment.mapper.RefundOrderDownstreamNotifyMapper">

    <select id="selectByRefundOrderId" resultType="com.video.entity.RefundOrderDownstreamNotifyDO">
        select *
        from refund_order_downstream_notify
        where refund_order_id = #{refundOrderId}
    </select>
</mapper>