<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.payment.mapper.AppMapper">

    <select id="selectAllApiV3Key" resultType="java.lang.String">
        select we_chat_api_v3_key
        from app
    </select>

    <select id="selectAllApp" resultType="com.video.entity.AppDO">
        select *
        from app
    </select>
</mapper>