<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.payment.mapper.AppPaymentWeChatConfigMapper">

    <select id="selectByWeChatAppId" resultType="com.video.entity.AppPaymentConfigDO">
        select *
        from app_payment_wechat_config
        where ali_pay_app_id = #{weChatAppId}
    </select>

    <select id="selectAllApiV3Key" resultType="java.lang.String">
        select we_chat_api_v3_key
        from app_payment_wechat_config
    </select>

    <select id="selectByFrozenStatusAndDeletedAndSubSelect"
            resultType="com.video.entity.AppPaymentWeChatConfigDO">
        select *
        from app_payment_wechat_config
        where id in
              (select merchant_id
              from app_payment_config_mapping
              where merchant_type = #{merchant_type} and mapping_type = #{mapping_type}
                and status = #{status} and app_id = #{app_id})
        and frozen_status = #{frozen_status}
        and deleted = #{deleted}
    </select>
</mapper>