<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.payment.mapper.RefundOrderMapper">


  <select id="selectByPayOrderId" resultType="com.video.entity.RefundOrderDO">
    select *
    from refund_order
    where pay_order_id = #{payOrderId}
  </select>
</mapper>